
.Calculadora{
	display: block;
	background-color: black;
	width: 275px;
	height: 580px;
	margin: 0 auto;
	border-radius: 50px;
	padding: 30px;
	font-family:arial;
}

.Calculadora td button{
	display: block; 
	width: 52px;
	height: 52px;
	border-radius: 25px;
	font-size: 23px;
}

#resultado{
	display: block;
	text-align:right;
	font-size: 60px;
	height: 220px;
	color:white;
	font-family: Century Gothic;
}
#coma{
	background-color: #454142;
	color: white;
}
#cero{
	width: 100px;
	background-color: #454142;
	text-align:left;
	color: white;
}
#division{
	background-color: orange;
	color: white;
}
#multiplicacion{
	background-color: orange;
	color: white;
}
#suma{
	background-color: orange;
	color: white;
}
#resta{
	background-color: orange;
	color: white;
}
#igual{
	background-color: orange;
	color: white;
}
#borrar{
	background-color: #B3ADAE;
}
#suma-resta{
	background-color: #B3ADAE;
}
#porsentaje{
	background-color: #B3ADAE;
}

#uno{
	background-color: #454142;
	color: white;
}
#dos{
	background-color: #454142;
	color: white;
}
#tres{
	background-color: #454142;
	color: white;
}
#cuatro{
	background-color: #454142;
	color: white;
}
#cinco{
	background-color: #454142;
	color: white;
}
#seis{
	background-color: #454142;
	color: white;
}
#siete{
	background-color: #454142;
	color: white;
}
#ocho{
	background-color: #454142;
	color: white;
}
#nueve{
	background-color: #454142;
	color: white;
}
